*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}
body{
	background-color: #ECECEC;
	margin: 0px;
	width: 720px;
	height: 470px;
	border-radius: 20px;
}

/*Contenedor de la app*/
.container{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(135deg, #153677, #4e085f);
	padding: 10px;
	word-wrap: break-word;/*Evitar que las letras salgan del container*/
}

/*App to Do*/
.to-do-app{
	width: 100%;
	max-width: 540px;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(5px);
	margin: 100px auto 20px;
	padding: 40px 30px 75px;
	border-radius: 10px;
}

/*Nombre del proyecto con su logotipo*/
.to-do-app h2{
	color: #002765;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.to-do-app h2 img{
	width: 30px;
	/*margin: ;*/
}

/*Margin de entrada de datos*/
.row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #edeef0;
	border-radius: 30px;
	padding-left: 40px;
	margin-bottom: 25px;
}

/*Entrada de datos*/
input{
	flex: 1;
	border: none;
	width: 80px;
	outline: none;
	background: transparent;
	padding: 10px;
	font-weight: 14px;
	word-wrap: break-word;
}

button{
	border: none;
	outline: none;
	padding: 16px 50px;
	background: #3364FF;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
}

ul li{
	list-style: none;
	font-size: 17px;
	padding: 12px 8px 12px 50px;
	user-select: none;
	cursor: pointer;
	position: relative;
}

ul li::before{
	content: '';
	position: absolute;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-image: url('../img/uncheck.png');
	background-size: cover;
	background-position: center;
	top: 8px;
	left: 8px;
}

ul li.checked{
	color: #555;
	text-decoration: line-through;
}

ul li.checked::before{
	background-image:url('../img/check.png');	
}


ul li img{
	position: absolute;
	right: 0;
	top: 5;
	width: 20px;
	text-align: center;
	border-radius: 50%;
}

/*Boton de eliminar*/
ul li img:hover{
	color: red;
}